@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.2);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.8);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

@keyframes gradient-background {
  0% {
    background-position: 0% 50%;
    transform: rotate(0deg);
  }
  50% {
    background-position: 100% 50%;
    transform: rotate(1deg);
  }
  100% {
    background-position: 0% 50%;
    transform: rotate(0deg);
  }
}

@keyframes gradient-foreground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-blob {
  animation: blob 10s infinite cubic-bezier(0.4, 0, 0.2, 1);
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

.animate-gradient-background {
  animation: gradient-background 8s ease infinite;
  background-size: 200% 200%;
}

.animate-gradient-foreground {
  animation: gradient-foreground 8s ease infinite;
  background-size: 200% auto;
}

.animate-fade-in {
  animation: fadeIn 1.2s ease-out forwards;
}
